flask==3.1.0
flask-cors==5.0.1
python-dotenv==1.1.0
openai==1.69.0
firebase-admin==6.7.0
python-socketio==5.12.1
eventlet==0.39.1
transformers==4.38.2
torch==2.6.0
accelerate==0.27.2
flask-socketio==5.3.6
sentencepiece==0.1.99
protobuf==4.25.3 